body{
    background-color:#a3c4e2 ;
  }
  .div-form{
    background-color: #f9f9ff;
    border-radius: 50px;
  
  }
  
  .card{
    background-color: #f9f9ff;
    color: #3333;
  
    
  }
  .card img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
  
  }
  label{
    color: #3333;
  }
  .btn-1{
    background-color:#5489b7 ;
    border: none;
  }
  .btn-1:hover{
    color: #5489b7;
  }
  .btn:hover{
    background-color: #ffff;
  }